.vscode/
.cache/
*.pyc
__pycache__/
*.egg-info/
.pytest_cache/
.eggs/
build/
dist/
psopy/minimize_new.py
tests/results.txt
tests/results_levy.txt
tests/results_levy_decay.txt
tests/results_levy_decay_g.txt
tests/results_pso.txt
